:root {
    --color-1: #4A476C;
    --color-2: #FDF6EE;
    --color-3: #6DF2F2;
    --color-4: #E0DDDE;
    --background-color: #85C7EF;
}
body{
    background-color: var(--background-color);
}
body form{
    width: 100%;
}
table{
    max-width: 90%;
}
body form input{
    display: inline-block;
    width: 95%;
    height: 30px;
    padding: 5px;
    padding-right: 5px;
    
}
h1{
    color: var(--color-1);
}
table div{
    display: inline-block;
    
}
table div tr{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-color: var(--color-1);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--color-2);
}
table div tr button{
    position: relative;
}
table div tr td{
    display: inline-block;
    border-color: var(--color-1);
    
}
.customerProfile input{
    display: inline-block;
    display: flex;
    flex-direction: column;
}
.customerProfile{
    display: inline-block;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: burlywood;
}
.trackList{
    display: none;
}
.trackList form{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100px;
    white-space: nowrap;
}

.cart{
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
}
.cartItems{
    background-color:var(--color-4);
    color: var(--color-4);
}
.purchaseCart{
    display: none;
}
.artistList{
    display: none;
}
.albumList{
    display: none;
}
.trackFrm{
    display: none;
}
.artistFrm{
    display: none;
}
.albumFrm{
    display: none;
}
.logoutFrm{
    max-width: 60.48px;
}
.hideOnLoad{
    display: none;
}
.logoutFrm input{
    max-width: 60.48px;
    max-height: 25px;
    text-align: center;
}

@media only screen and (min-width: 800px){
    h1{
        text-align: center;
    }
    body form{
        width: 50%;
    }
   }
   
@media only screen and (min-width: 1300px){
    
    main{
           max-width: 1300px;
           margin-left: auto;
           margin-right: auto;
    }
    h1{
        
        margin-left: auto;
        margin-right: auto;
    }
    table{
        align-content: center;
        margin-left: +200px;
    }
    table div tr{
        
        flex-direction: row;
    }
}